@import '../../variables.css';

.passwordTable {
    width: 100%;
    border-collapse: collapse;
}

.passwordList {
    width: 100%;
}

.actionButtons {
    height: 100%;
}


.editButton {
    
}
.actionButton {
    cursor: pointer;
}

.actionButton:hover {
    color: var(--main-secondary-color);
    -webkit-transition: color 200ms linear;
}

.tableCell {
    height: 100%!important;
}   
