.errorsWrapper {
    height: 50px;
}

.modalHeader {
    background-color: var(--main-secondary-color)!;
}

.passwordPanelHeading {
    border-radius: 0px!important;
    color :  var(--main-white-color);
}

.addButton span  {
    color: var(--main-white-color);
}

.passwordPanel {
    box-shadow: none;
}